# Basics
PORT=5000

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/jumca?schema=public"

# CSRF
COOKIE_SECRET=4VCjC2gHaIAFjsDCyAoeDlenzmSON7N1VwIg53oUhlc

# Session (required by lusca's CSRF module)
SESSION_SECRET=8h3Kf2Lp9QmZ1TnR6vXeYbA5cD0sJgWuNzMqi7Fk4Ho

# Auth
JWT_ACCESS_SECRET=FQ9SETNf4CVSAUwF4DkoS9gMqRhCpieaevmUPcDEMnp
JWT_REFRESH_SECRET=2a9bqq1q5db6h9GA9La3p3jV1zRPSLtjQX3v1ok5Slm
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d